@import './function.scss';

$title-height: px2rem(60);
$home-input-margin: px2rem(13);
$default-border-radius: px2rem(4);
$list-first-width: px2rem(330);
$buttons-height: px2rem(55);
$white: #fff;
$blue: #09AAFF;